[submodule "libs/lume"]
	path = libs/lume
	url = https://github.com/rxi/lume/
[submodule "libs/hump"]
	path = libs/hump
	url = https://github.com/vrld/hump
[submodule "libs/hardoncollider"]
	path = libs/hardoncollider
	url = https://github.com/vrld/HC.git
